{% extends 'base.html' %}
{% block content %}
<center>
  <h3>
    <p style="font-family:Courier New">WELCOME TO CAR PROTECTION AT YOUR DOORSTEP</p>
  </h3>
</center>

<img src="https://media.smallbiztrends.com/2018/05/shutterstock_682966966.jpg" alt="..." width="1518" height="400">

<table class="table table-dark">
  
  <tbody>
    <tr>
      <th scope="row"> <h4>OUR PACKAGES</h4> </th>
      <td><div class="card" style="width: 18rem;">
        <img src="https://htmlcolorcodes.com/assets/images/colors/silver-color-solid-background-1920x1080.png" class="card-img-top" src="..." alt="">
        </div></td>
      <td><div class="card" style="width: 18rem;">
        <img src="https://t4.ftcdn.net/jpg/04/39/76/29/360_F_439762960_axFJyoyNBDWlBa8prNyoQOGT279YvFzL.jpg" class="card-img-top" src="..." alt="">
      </div></td>
      <td><div class="card" style="width: 18rem;">
        <img src="https://us.123rf.com/450wm/31moonlight31/31moonlight311811/31moonlight31181100045/111863043-abstract-background-with-metal-texture-in-light-blue-color.jpg?ver=6" class="card-img-top" src="..." alt="">
      </div></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><h6>SILVER</h6>To know more visit Our Packages Tab</td>
      <td><h6>GOLD</h6>To know more visit Our Packages Tab</td>
      <td><h6>PLATINUM</h6>To know more visit Our Packages Tab</td>
    </tr> 
  </tbody>
</table>





{% endblock %}