{% extends 'base.html' %}
{% block content %}



<table class="table table-dark">
  
    <tbody>
      <tr>
        <th scope="row"> <h4>OUR PACKAGES</h4> </th>
        <td><div class="card" style="width: 18rem;">
          <img src="https://htmlcolorcodes.com/assets/images/colors/silver-color-solid-background-1920x1080.png" class="card-img-top" src="..." alt="">
          </div></td>
        <td><div class="card" style="width: 18rem;">
          <img src="https://t4.ftcdn.net/jpg/04/39/76/29/360_F_439762960_axFJyoyNBDWlBa8prNyoQOGT279YvFzL.jpg" class="card-img-top" src="..." alt="">
        </div></td>
        <td><div class="card" style="width: 18rem;">
          <img src="https://us.123rf.com/450wm/31moonlight31/31moonlight311811/31moonlight31181100045/111863043-abstract-background-with-metal-texture-in-light-blue-color.jpg?ver=6" class="card-img-top" src="..." alt="">
        </div></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>
          <h6>SILVER</h6>
          <form class="form-inline my-2 my-lg-0" action="/signup">
            <button class="btn btn-outline-success" type="submit">Go for this</button>
          </form>
        </td>
        <td>
          <h6>GOLD</h6>
          <form class="form-inline my-2 my-lg-0" action="/signup">
            <button class="btn btn-outline-success" type="submit">Go for this</button>
          </form>
        </td>
        <td>
          <h6>PLATINUM</h6>
          <form class="form-inline my-2 my-lg-0" action="/signup">
            <button class="btn btn-outline-success" type="submit">Go for this</button>
          </form>
        </td>
      </tr>  
      <tr>
        <th scope="row">Prices</th>
        <td>₹1299</td>
        <td>₹3299</td>
        <td>₹4999</td>
      </tr>  
      <tr>
        <th scope="row">Coating</th>
        <td>Teflon</td>
        <td>Ceramic</td>
        <td>Teflon + Ceramic</td>
      </tr>  
      <tr>
        <th scope="row">Wash Type</th>
        <td>Water Cloth</td>
        <td>Foam Water</td>
        <td>Bubble Jet Spray</td>
      </tr>  
      <tr>
        <th scope="row">Scratch Removal</th>
        <td>NA</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>  
      <tr>
        <th scope="row">Interior CleanUp</th>
        <td>NA</td>
        <td>Yes</td>
        <td>Yes</td>
      <tr>
        <th scope="row">Dent Removal</th>
        <td>NA</td>
        <td>NA</td>
        <td>Yes</td>
      </tr>  
      <tr>
        <th scope="row">Paint Protection Film</th>
        <td>NA</td>
        <td>NA</td>
        <td>Yes</td>
      
      </tr>  
    </tbody>
  </table>

{% endblock %}